.App {
  display: flex;
  align-items: flex-start;
  height: 100vh;
  flex-direction: column;
  padding: 30px;
}

.App h1 {
  color: rgb(84, 97, 106);
  font-size: 40px;
}

.search {
  width: 400px;
  border-radius: 15px;
  border: solid;
}

.listItems {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 20px 0;
}

.taskItem {
  display: flex;
  align-items: flex-start;
  line-height: 30px;
  width: 400px;
}

.btnDel {
  margin-right: 20px;
}

.btnDel:hover {
  color: rgb(146, 66, 185);
  font-weight: bold;
}

.myTask:hover {
  color: rgb(146, 66, 185);
  font-weight: bold;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#submitTask {
  background-color: rgb(146, 66, 185);
  color: white;
  font-weight: bold;
  height: 40px;
  padding: 15px 40px 15px 40px;
  text-transform: uppercase;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

input {
  height: 30px;
  /* width: 200px; */
}

#submitTask {
  margin-top: 20px;
  width: 200px;
}

.todoForm {
  width: 400px;
}

.taskDone {
  text-decoration: line-through;
}
