.App {
  display: flex;
  align-items: flex-start;
  height: 90vh;
  flex-direction: column;
  padding: 30px;
  margin-left: 10px;
}

.App h1 {
  color: rgb(84, 97, 106);
  font-size: 40px;
}

.search {
  margin: 15px 0;
  width: 350px;
  height: 40px;
  font-size: 20px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
  padding-left: 50px;
}

.searchImg {
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
}

.listItems {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: -1px 5px 15px 0 rgba(0, 0, 0, 0.75);
}

.taskItem {
  display: flex;
  align-items: flex-start;
  line-height: 30px;
  width: 380px;
  margin: 5px;
}

.btnDel {
  margin-right: 20px;
}

.btnDel:hover {
  stroke: rgb(146, 66, 185);
}

.myTask:hover {
  color: rgb(146, 66, 185);
  font-weight: bold;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#submitTask {
  background-color: rgb(146, 66, 185);
  color: white;
  font-weight: bold;
  height: 40px;
  padding: 15px 40px 15px 40px;
  text-transform: uppercase;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

input {
  height: 30px;
  font-size: 16px;
}

#submitTask {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  padding: 10px;
  width: 250px;
}

.inputTask {
  border: 1px solid #ccc;
}

.todoForm {
  display: flex;
  flex-direction: column;
  width: 410px;
  margin-top: 30px;
}

.taskDone {
  text-decoration: line-through;
}

@media only screen and (min-width: 375px) and (max-width: 812px) {
  .App {
    padding: 10px;
  }

  .search {
    width: 290px;
  }

  .listItems {
    margin: 15px 0;
    padding: 5px;
  }

  .taskItem {
    width: 300px;
    margin: 5px;
  }
  .btnDel:hover {
    stroke: #ccc;
  }

  .myTask:hover {
    color: black;
    font-weight: normal;
  }

  .todoForm {
    width: 310px;
    margin-top: 30px;
  }

  .inputTask {
    width: 300px;
  }

  .taskDone {
    text-decoration: line-through;
  }

  #submitTask {
    padding: 5px;
    width: 210px;
  }
}
